.user-list {
  flex: 4;
}

.user-list-username {
  display: flex;
  align-items: center;
}

.user-list-img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.user-list-edit {
  border: none;
  border-radius: 5px;
  background-color: #3bb077;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  margin-right: 20px;
}

.user-list-delete {
  color: #dc143c;
  cursor: pointer;
}
