.chart {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: -2px 2px 11px -4px rgba(0, 0, 0, 0.61);
  box-shadow: -2px 2px 11px -4px rgba(0, 0, 0, 0.61);
}

.chart-title {
  margin-bottom: 20px;
}
